<?xml version="1.0"?>
<config>
    <modules>
        <Magebuzz_Featuredproducts>
            <version>0.1.0</version>
        </Magebuzz_Featuredproducts>
    </modules>
    <frontend>
        <routers>
            <featuredproducts>
                <use>standard</use>
                <args>
                    <module>Magebuzz_Featuredproducts</module>
                    <frontName>featuredproducts</frontName>
                </args>
            </featuredproducts>
        </routers>
        <layout>
            <updates>
                <featuredproducts>
                    <file>featuredproducts.xml</file>
                </featuredproducts>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<featuredproducts>
				<use>admin</use>
				<args>
					<module>Magebuzz_Featuredproducts</module>
					<frontName>featuredproducts</frontName>
				</args>
			</featuredproducts>
		<adminhtml>
                <args>
                    <modules>
                        <featuredproducts before="Mage_Adminhtml">Magebuzz_Featuredproducts_Adminhtml</featuredproducts>
                    </modules>
                </args>
            </adminhtml>  
        </routers>
    </admin>
    <adminhtml>
		<!-- <layout>
			<updates>
				<featuredproducts>
					<file>featuredproducts.xml</file>
				</featuredproducts>
			</updates>
		</layout> -->
    </adminhtml>   
    <global>
        <models>
            <featuredproducts>
                <class>Magebuzz_Featuredproducts_Model</class>
                <resourceModel>featuredproducts_mysql4</resourceModel>
            </featuredproducts>
            <featuredproducts_mysql4>
                <class>Magebuzz_Featuredproducts_Model_Mysql4</class>
                <entities>
                    <featuredproducts>
                        <table>featuredproducts</table>
                    </featuredproducts>
                </entities>
            </featuredproducts_mysql4>
        </models>
        <resources>
            <featuredproducts_setup>
                <setup>
                    <module>Magebuzz_Featuredproducts</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </featuredproducts_setup>
            <featuredproducts_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </featuredproducts_write>
            <featuredproducts_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </featuredproducts_read>
        </resources>
        <blocks>
            <featuredproducts>
                <class>Magebuzz_Featuredproducts_Block</class>
            </featuredproducts>
        </blocks>
        <helpers>
            <featuredproducts>
                <class>Magebuzz_Featuredproducts_Helper</class>
            </featuredproducts>
        </helpers>
    </global>

    <default>
        <featuredproducts>
            <general>
                <title>Featured Products</title>
                <product_sort_by>random</product_sort_by>
                <number_of_items>5</number_of_items>
                <layout>two_columns_right</layout>
				<enable_module>1</enable_module>
				<display_on_sidebar>1</display_on_sidebar>
				<position_of_sidebar>0</position_of_sidebar>
				<filter_by_category>0</filter_by_category>
				<number_of_products_to_show>5</number_of_products_to_show>
				<number_of_products_per_row>5</number_of_products_per_row>
            </general>
        </featuredproducts>
    </default>
	
</config>