<?xml version="1.0"?>
<config>
    <modules>
        <Scommerce_CatalogUrl>
            <version>0.0.1</version>
        </Scommerce_CatalogUrl>
    </modules>
    <global>
        <helpers>
            <scommerce_catalogurl>
                <class>Scommerce_CatalogUrl_Helper</class>
            </scommerce_catalogurl>
        </helpers>
        <models>
            <scommerce_catalogurl>
                <class>Scommerce_CatalogUrl_Model</class>
            </scommerce_catalogurl>
			<catalog>
				<rewrite>
					<product_url>Scommerce_CatalogUrl_Model_Product_Url</product_url>
				</rewrite>
			</catalog>
        </models>
        <resources>
            <catalogurl_setup>
                <setup>
                    <module>Scommerce_CatalogUrl</module>
                    <class>Scommerce_CatalogUrl_Model_Entity_Setup</class>
                </setup>
            </catalogurl_setup>
        </resources>
    </global>
    <default>
        <scommerce_catalogurl>
            <general>
                <enable>1</enable>
            </general>
        </scommerce_catalogurl>
    </default>
    <frontend>
        <product>
            <collection>
                <attributes>
                    <product_primary_category/>
                </attributes>
            </collection>
        </product>
        <routers>
            <catalog>
                <args>
                    <modules>
                        <Scommerce_CatalogUrl before="Mage_Catalog">Scommerce_CatalogUrl</Scommerce_CatalogUrl>
                    </modules>
                </args>
            </catalog>
        </routers>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <scommerce_catalogurl>
                    <files>
                        <default>Scommerce_CatalogUrl_Admin.csv</default>
                    </files>
                </scommerce_catalogurl>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <scommerce_catalogurl translate="title">
                                            <title>Catalog URL</title>
                                        </scommerce_catalogurl>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>