<?xml version="1.0"?>
<config>
	<modules>
		<Netzkollektiv_CustomerDiscountRules>
			<version>0.1</version>
		</Netzkollektiv_CustomerDiscountRules>
	</modules>
	<global>
		<blocks>
			<customerdiscountrules>
				<class>Netzkollektiv_CustomerDiscountRules_Block</class>
			</customerdiscountrules>
			<adminhtml>
				<rewrite>
					<customer_edit_tabs>Netzkollektiv_CustomerDiscountRules_Block_Adminhtml_Customer_Edit_Tabs</customer_edit_tabs>
				</rewrite>
			</adminhtml>
		</blocks>
		<models>
			<customerdiscountrules>
				<class>Netzkollektiv_CustomerDiscountRules_Model</class>
				<resourceModel>customerdiscountrules_mysql4</resourceModel>
			</customerdiscountrules>
			<customerdiscountrules_mysql4>
				<class>Netzkollektiv_CustomerDiscountRules_Model_Mysql4</class>
				<entities>
					<rule>
						<table>customer_discount_rule</table>
					</rule>
				</entities>
			</customerdiscountrules_mysql4>
		</models>
		<resources>
			<customerdiscountrules_setup>
				<setup>
					<module>Netzkollektiv_CustomerDiscountRules</module>
				</setup>
			</customerdiscountrules_setup>
		</resources>
		<events>
            <salesrule_rule_load_after>
                <observers>
                    <customerdiscountrules>
                        <class>customerdiscountrules/observer</class>
                        <method>setCustomerDiscountRules</method>
                    </customerdiscountrules>
                </observers>
            </salesrule_rule_load_after>
            <salesrule_rule_save_before>
                <observers>
                    <customerdiscountrules>
                        <class>customerdiscountrules/observer</class>
                        <method>removeCustomerDiscountRulesBeforeSave</method>
                    </customerdiscountrules>
                </observers>
            </salesrule_rule_save_before>
			<adminhtml_customer_prepare_save>
                <observers>
                    <customerdiscountrules>
                        <class>customerdiscountrules/observer</class>
                        <method>prepareSaveCustomerDiscountRulesRules</method>
                    </customerdiscountrules>
                </observers>
			</adminhtml_customer_prepare_save>
			<customer_save_after>
				<observers>
					<customerdiscountrules>
						<class>customerdiscountrules/observer</class>
						<method>saveCustomerDiscountRulesRules</method>
					</customerdiscountrules>
				</observers>
	    		</customer_save_after>
			<customer_load_after>
				<observers>
					<customerdiscountrules>
						<class>customerdiscountrules/observer</class>
						<method>addCustomerDiscountRulesRulesToCustomer</method>
					</customerdiscountrules>
				</observers>
			</customer_load_after>
		</events>
	</global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Netzkollektiv_CustomerDiscountRules before="Mage_Adminhtml">Netzkollektiv_CustomerDiscountRules</Netzkollektiv_CustomerDiscountRules>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
