<?xml version="1.0"?>
<config>
    <modules>
        <Mbemro_CustomCatalog>
            <version>1.1.0</version>
        </Mbemro_CustomCatalog>
    </modules>

    <global>
        <models>
            <customcatalog>
                <class>Mbemro_CustomCatalog_Model</class>
                <resourceModel>customcatalog_resource</resourceModel>
            </customcatalog>
            <customcatalog_resource>
                <class>Mbemro_CustomCatalog_Model_Resource</class>
                <entities>
                    <product>
                        <table>customcatalog_product_entity</table>
                    </product>
                    <customer>
                        <table>customcatalog_customer</table>
                    </customer>
                    <category>
                        <table>customcatalog_category_entity</table>
                    </category>
                </entities>
            </customcatalog_resource>
        </models>
        <events>
            <sales_quote_add_item>
                <observers>
                    <mbemro_customcatalog_model_observer>
                        <type>singleton</type>
                        <class>Mbemro_CustomCatalog_Model_Observer</class>
                        <method>updatePrice</method>
                    </mbemro_customcatalog_model_observer>
                </observers>
            </sales_quote_add_item>
        </events>
        <resources>
            <customcatalog_setup>
                <setup>
                    <module>Mbemro_CustomCatalog</module>
                    <class>Mbemro_CustomCatalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customcatalog_setup>
            <customcatalog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customcatalog_read>
            <customcatalog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customcatalog_write>
        </resources>
        <blocks>
            <customcatalog>
                <class>Mbemro_CustomCatalog_Block</class>
            </customcatalog>
        </blocks>
        <helpers>
            <customcatalog>
                <class>Mbemro_CustomCatalog_Helper</class>
            </customcatalog>
        </helpers>
    </global>

    <frontend>
        <routers>
            <customcatalog>
                <use>standard</use>
                <args>
                    <module>Mbemro_CustomCatalog</module>
                    <frontName>customcatalog</frontName>
                </args>
            </customcatalog>
        </routers>
        <layout>
            <updates>
                <customcatalog>
                    <file>customcatalog.xml</file>
                </customcatalog>
            </updates>
        </layout>
    </frontend>

    <adminhtml>
        <layout>
            <updates>
                <customertab>
                    <file>customertab.xml</file>
                </customertab>
            </updates>
        </layout>
        <global>
            <blocks>
                <customertab>
                    <class>Mbemro_Customertab_Block</class>
                </customertab>
            </blocks>
        </global>
    </adminhtml>


    <!--

    <admin>
        <routers>
            <customcatalog>
                <use>admin</use>
                <args>
                    <module>Mbemro_CustomCatalog</module>
                    <frontName>customcatalog</frontName>
                </args>
            </customcatalog>
        </routers>
    </admin>

    -->
    
    <admin>
        <routers>
            <customcatalog>
                <use>admin</use>
                <args>
                    <module>Mbemro_CustomCatalog</module>
                    <frontName>customcatalog</frontName>
                </args>
            </customcatalog>
        </routers>
    </admin>

    <!--

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Mbemro_CustomCatalog before="Mage_Adminhtml">Mbemro_CustomCatalog</Mbemro_CustomCatalog>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    -->
</config>
