<?xml version="1.0"?>
<config>
    <modules>
        <Addrexx>
            <version>1.0.0</version>
        </Addrexx>
    </modules>
    <frontend>
        <layout>
            <updates>
                <addrexx_frontend module="addrexx_frontend">
                    <file>addrexx_frontend.xml</file>
                </addrexx_frontend>
            </updates>
        </layout>
    </frontend>
	<adminhtml>
        <layout>
            <updates>
                <addrexx_backend module="Addrexx_Backend">
                    <file>addrexx_backend.xml</file>
                </addrexx_backend>
            </updates>
        </layout>
    </adminhtml>
	<global>    
		<helpers>
		  <addsql>
			<class>Addrexx_Helper</class>
		  </addsql>
		</helpers>
		<resources>
		  <addsql_setup>
			<setup>
			  <module>Addrexx</module>
			</setup>
			<connection>
			  <use>core_setup</use>
			</connection>
		  </addsql_setup>
		  <addsql_write>
			<connection>
			  <use>core_write</use>
			</connection>
		  </addsql_write>
		  <addsql_read>
			<connection>
			  <use>core_read</use>
			</connection>
		  </addsql_read>
		</resources>
		<models>
            <addrexx>
                <class>Addrexx_Model</class>
            </addrexx>
        </models>		
    </global>
	 <default>
        <tab1>
            <general>
                <access_token_frontend>xxxx-yyyy-1234-5678</access_token_frontend>
                <access_token_admin>xxxx-yyyy-1234-5678</access_token_admin>
                <active_frontend>0</active_frontend>
				<active_admin>0</active_admin>
				<pobox>0</pobox>
				<names>1</names>
				<zip4>0</zip4>
				<url>www.bigfeet.com</url>
            </general>
        </tab1>
    </default>
</config>
