/********Css For Category Sidebar Navigation ************/
.block-category-nav{border:0 none;}
.block-category-nav .block-title{background:#f7931d; border:0 none;padding: 5px 10px;border-radius: 5px 5px 0 0;}
.block-category-nav .block-title strong{color: #FFFFFF; display: block; padding:0; font: bold 13px/16px Arial,Helvetica,sans-serif; min-height: 16px;text-transform: capitalize;}
.block-category-nav .block-content{background:#FFFFFF; border:1px solid #DDDDDD; border-top:0 none; padding:5px 10px;}
#sidenav{}
#sidenav li{border-bottom:1px solid #cacaca; padding:3px 0;}
#sidenav li.last{border:0 none;}
#sidenav li a{font-size:13px; font-weight:normal; color:#333333; text-decoration:none;}
#sidenav li a:hover{color:#f7931d;/*  text-decoration:underline; */}
/* Level 0 */
#sidenav li.level-top a.level-top{ font-weight:bold;}
#sidenav li ul.level0{padding-left:10px;}
#sidenav li ul.level0 li{border-bottom:1px dotted #cacaca;}
#sidenav li ul.level0 li.last{border:0 none;}
/* Level 1 */
#sidenav li ul li ul{padding-left:10px;}
#sidenav li ul li ul li a{color:#5a5a5a;}