<?xml version="1.0"?>
<config>
  <modules>
    <Mbemro_Autoexport>
      <version>0.1.0</version>
    </Mbemro_Autoexport>
  </modules>
	<frontend>
		<routers>
			<autoexport>
				<use>standard</use>
				<args>
					<module>Mbemro_Autoexport</module>
					<frontName>autoexport</frontName>
				</args>
			</autoexport>
		</routers>
	</frontend>
  <global>
    <helpers>
      <autoexport>
        <class>Mbemro_Autoexport_Helper</class>
      </autoexport>
    </helpers>
    <blocks>
      <autoexport>
        <class>Mbemro_Autoexport_Block</class>
      </autoexport>
    </blocks>
	<models>
	  <autoexport>
		<class>Mbemro_Autoexport_Model</class>
		<resourceModel>autoexport_mysql4</resourceModel>
	  </autoexport>
	  <autoexport_mysql4>
		<class>Mbemro_Autoexport_Model_Mysql4</class>
		<entities>		  
			  <autoexportrecords>
				<table>autoexportrecords</table>
			  </autoexportrecords>
        </entities>
	  </autoexport_mysql4>
	  <importexport>
			<rewrite>
				<export_entity_customer>Mbemro_Autoexport_Model_Export_Entity_Customer</export_entity_customer>
			</rewrite>
	  </importexport>
	</models>
	<resources>
	  <autoexport_setup>
		<setup>
		  <module>Mbemro_Autoexport</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </autoexport_setup>
	  <autoexport_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </autoexport_write>
	  <autoexport_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </autoexport_read>
	</resources>
  </global>
  	<admin>
		<routers>
			<autoexport>
				<use>admin</use>
				<args>
					<module>Mbemro_Autoexport</module>
					<frontName>autoexport</frontName>
				</args>
			</autoexport>
		 </routers>
	</admin>    
    <crontab>
        <jobs>            
			<autoexport_autoexportrecords>
                <schedule><cron_expr>0 3 * * *</cron_expr></schedule>
                <run><model>autoexport/cron::autoexportrecords</model></run>
            </autoexport_autoexportrecords>
        </jobs>
    </crontab>
    <default>
    	<autoexportsection>
    		<autoexportgroup>
    			<active>0</active>
    			<emailsub>Exported records</emailsub>
    		</autoexportgroup>
    	</autoexportsection>
    </default>
</config> 