<?xml version="1.0"?>
<config>
	<tabs>
		<autoexport translate="label" module="autoexport">
			<label>Auto Export Extension</label>
			<sort_order>100</sort_order>
		</autoexport>
	</tabs>
	<sections>
		<autoexportsection translate="label" module="autoexport">
			<label>Auto Export Configuration</label>
			<tab>autoexport</tab>
			<frontend_type>text</frontend_type>
			<sort_order>0</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<autoexportgroup translate="label">
					<label>Configuration</label>
					<frontend_type>text</frontend_type>
					<sort_order>0</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
					 	<active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Enabled</comment>
                        </active>
					</fields>
				</autoexportgroup>
			</groups>
		</autoexportsection>
		<manualexportsection translate="label" module="autoexport">
			<label>Manual Export</label>
			<tab>autoexport</tab>
			<frontend_type>text</frontend_type>
			<sort_order>10</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<manualexportgroup translate="label">
					<label>Manual Export</label>
					<frontend_type>text</frontend_type>
					<sort_order>10</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
					 	<manual translate="label">
					 		<label>Manual Export</label>
                            <frontend_type>text</frontend_type>
                            <frontend_model>autoexport/adminhtml_export</frontend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Export orders since last auto export</comment>
                       </manual>
                   </fields>
                 </manualexportgroup>
            </groups>
         </manualexportsection>
	</sections>
</config>