<?xml version="1.0" ?>
<config>
    <modules>
        <CpDevelopment_AdminMonitoring>
            <version>1.2.2</version>
        </CpDevelopment_AdminMonitoring>
    </modules>
    <global>
        <blocks>
            <cpdevelopment_adminmonitoring>
                <class>CpDevelopment_AdminMonitoring_Block</class>
            </cpdevelopment_adminmonitoring>
        </blocks>
        <models>
            <cpdevelopment_adminmonitoring>
                <class>CpDevelopment_AdminMonitoring_Model</class>
                <resourceModel>cpdevelopment_adminmonitoring_resource</resourceModel>
            </cpdevelopment_adminmonitoring>
            <cpdevelopment_adminmonitoring_resource>
                <class>CpDevelopment_AdminMonitoring_Model_Resource</class>
                <entities>
                    <history>
                        <table>cpdevelopment_adminmonitoring_history</table>
                    </history>
                </entities>
            </cpdevelopment_adminmonitoring_resource>
        </models>
        <resources>
            <cpdevelopment_adminmonitoring>
                <setup>
                    <module>CpDevelopment_AdminMonitoring</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </cpdevelopment_adminmonitoring>
        </resources>
        <helpers>
            <cpdevelopment_adminmonitoring>
                <class>CpDevelopment_AdminMonitoring_Helper</class>
            </cpdevelopment_adminmonitoring>
        </helpers>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <cpdevelopment_adminmonitoring>
                    <file>cpdevelopment_adminmonitoring.xml</file>
                </cpdevelopment_adminmonitoring>
            </updates>
        </layout>
        <events>
            <model_save_after>
                <observers>
                    <cpdevelopment_adminmonitoring>
                        <class>cpdevelopment_adminmonitoring/observer_model_save</class>
                        <method>modelAfter</method>
                    </cpdevelopment_adminmonitoring>
                </observers>
            </model_save_after>
            <model_save_before>
                <observers>
                    <cpdevelopment_adminmonitoring>
                        <class>cpdevelopment_adminmonitoring/observer_model_save</class>
                        <method>modelBefore</method>
                    </cpdevelopment_adminmonitoring>
                </observers>
            </model_save_before>
            <model_delete_after>
                <observers>
                    <cpdevelopment_adminmonitoring>
                        <class>cpdevelopment_adminmonitoring/observer_model_delete</class>
                        <method>modelAfter</method>
                    </cpdevelopment_adminmonitoring>
                </observers>
            </model_delete_after>
            <category_move>
                <observers>
                    <cpdevelopment_adminmonitoring>
                        <class>cpdevelopment_adminmonitoring/observer_category_move</class>
                        <method>catalogCategoryMove</method>
                    </cpdevelopment_adminmonitoring>
                </observers>
            </category_move>
            <catalog_product_attribute_update_before>
                <observers>
                    <cpdevelopment_adminmonitoring>
                        <class>cpdevelopment_adminmonitoring/observer_product_attribute_update</class>
                        <method>catalogProductAttributeUpdateBefore</method>
                    </cpdevelopment_adminmonitoring>
                </observers>
            </catalog_product_attribute_update_before>
            <catalog_product_import_finish_before>
                <observers>
                    <cpdevelopment_adminmonitoring>
                        <class>cpdevelopment_adminmonitoring/observer_product_import</class>
                        <method>catalogProductImportFinishBefore</method>
                    </cpdevelopment_adminmonitoring>
                </observers>
            </catalog_product_import_finish_before>
            <cpdevelopment_adminmonitoring_rowurl>
                <observers>
                    <catalog_product>
                        <class>cpdevelopment_adminmonitoring/rowUrl_model_product</class>
                        <method>setRowUrl</method>
                    </catalog_product>
                    <cms_page>
                        <class>cpdevelopment_adminmonitoring/rowUrl_model_page</class>
                        <method>setRowUrl</method>
                    </cms_page>
                    <sales_order>
                        <class>cpdevelopment_adminmonitoring/rowUrl_model_order</class>
                        <method>setRowUrl</method>
                    </sales_order>
                    <customer_customer>
                        <class>cpdevelopment_adminmonitoring/rowUrl_model_customer</class>
                        <method>setRowUrl</method>
                    </customer_customer>
                </observers>
            </cpdevelopment_adminmonitoring_rowurl>
            <cpdevelopment_adminmonitoring_log>
                <observers>
                    <cpdevelopment_adminmonitoring>
                        <class>cpdevelopment_adminmonitoring/observer_log</class>
                        <method>log</method>
                    </cpdevelopment_adminmonitoring>
                </observers>
            </cpdevelopment_adminmonitoring_log>
            <admin_session_user_login_success>
                <observers>
                    <cpdevelopment_adminmonitoring>
                        <class>cpdevelopment_adminmonitoring/observer_login</class>
                        <method>logSuccess</method>
                    </cpdevelopment_adminmonitoring>
                </observers>
            </admin_session_user_login_success>
            <admin_session_user_login_failed>
                <observers>
                    <cpdevelopment_adminmonitoring>
                        <class>cpdevelopment_adminmonitoring/observer_login</class>
                        <method>logFailure</method>
                    </cpdevelopment_adminmonitoring>
                </observers>
            </admin_session_user_login_failed>
        </events>
        <translate>
            <modules>
                <CpDevelopment_AdminMonitoring>
                    <files>
                        <default>CpDevelopment_AdminMonitoring.csv</default>
                    </files>
                </CpDevelopment_AdminMonitoring>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <cpdevelopment_adminmonitoring before="Mage_Adminhtml">CpDevelopment_AdminMonitoring_Adminhtml</cpdevelopment_adminmonitoring>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <cpdevelopment_adminmonitoring>
                <schedule>
                    <cron_expr>0 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>cpdevelopment_adminmonitoring/clean::scheduledCleanAdminMonitoring</model>
                </run>
            </cpdevelopment_adminmonitoring>
        </jobs>
    </crontab>
    <default>
        <admin>
            <cpdevelopment_adminmonitoring>
                <enable_cleaning>1</enable_cleaning>
                <interval>30</interval>
                <product_import_logging>0</product_import_logging>
                <product_mass_update_logging>0</product_mass_update_logging>
            </cpdevelopment_adminmonitoring>
        </admin>
    </default>
    <phpunit>
        <suite>
            <modules>
                <CpDevelopment_AdminMonitoring/>
            </modules>
        </suite>
    </phpunit>
</config>
