<?xml version="1.0"?>
<config>
  <global>
    <models>
        <mbemrocustomer>
             <class>Mbemro_Customer_Model</class>
        </mbemrocustomer>
    </models>
    <events>
      <customer_address_removed>
        <observers>
          <mbemro_customer_model_observer>
            <type>singleton</type>
            <class>Mbemro_Customer_Model_Observer</class>
            <method>customer_address_removed</method>
          </mbemro_customer_model_observer>
        </observers>
      </customer_address_removed>
      <customer_address_saved>
        <observers>
          <mbemro_customer_model_observer>
            <type>singleton</type>
            <class>Mbemro_Customer_Model_Observer</class>
            <method>customer_address_saved</method>
          </mbemro_customer_model_observer>
        </observers>
      </customer_address_saved>
      <customer_address_added>
        <observers>
          <mbemro_customer_model_observer>
            <type>singleton</type>
            <class>Mbemro_Customer_Model_Observer</class>
            <method>customer_address_added</method>
          </mbemro_customer_model_observer>
        </observers>
      </customer_address_added>
      <customer_register_success>
        <observers>
          <mbemro_customer_model_observer>
            <type>singleton</type>
            <class>Mbemro_Customer_Model_Observer</class>
            <method>customer_register_success</method>
          </mbemro_customer_model_observer>
        </observers>
      </customer_register_success>     
    </events>
  </global>

    <modules>
        <Mbemro_Customer>
            <version>1.0.0</version>
        </Mbemro_Customer>
    </modules>

    <frontend>
        <routers>
            <reports>
                <use>standard</use>
                <args>
                    <module>CustomerReports</module>
                    <frontName>customer_reports</frontName>
                </args>
            </reports>
        </routers>
    </frontend>
</config>