<?xml version="1.0"?>
<config>
    <modules>
        <Pdf>
            <version>1.0.0</version>
        </Pdf>
    </modules>

    <frontend>
        <routers>
            <pdf>
                <use>standard</use>
                <args>
                    <module>Pdf</module>
                    <frontName>pdf</frontName>
                </args>
            </pdf>
        </routers>
    </frontend>
</config>